flask
werkzeug
langchain
langchain-community
langchain-classic
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
faiss-cpu
sentence-transformers
pypdf
PyPDF2
python-docx
tqdm
python-dotenv
fastapi
uvicorn
python-multipart
google-genai
groq
numpy
gunicorn
pandas
openpyxl
